<a href="https://colab.research.google.com/github/andrericardossj/bootcamp_python_mod1/blob/main/Bootcamp_Python_MOD1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Primeiros passos em Python**

In [ ]:
#title Texto de título padrão
5+5

10

In [ ]:
10-2

8

In [ ]:
50/2

25.0

In [ ]:
print(5+5)

10

**Indentação em Python**

In [ ]:
if 10 > 5:
  print('Dez é maior do que cinco')

Dez é maior do que cinco

In [ ]:
if 10 > 5:
print('Dez é maior do que cinco') #indentação com erro

**Variáveis em Python**

Regras básicas para criação de variáveis:

Deve começar com uma letra //
Os próximos podem ser letras ou números //
**Não** pode utilizar nenhum simbolo (exceto _ ) //
**Não** pode conter espaços em branco //
**Não** pode conter letras com acento

In [ ]:
x = 5
print(x)

5

In [ ]:
y = 'texto'
print(y)

texto

**Comentários em Python**

In [ ]:
# criando uma variável do tipo numérico em python
num = 10

In [ ]:
#criando uma variável do tipo string 
texto = 'água'

**String em Python**

In [ ]:
rua = 'Rua do Catete - '
numero = "153 - "
bairro = 'Catete - '
cidade = 'Rio de Janeiro - '
estado = "RJ - "
cep = '22220-000'

In [ ]:
endereco = rua + numero + bairro + cidade + estado + cep
print(endereco)

Rua do Catete - 153 - Catete - Rio de Janeiro - RJ - 22220-000

**Listas em Python**

In [ ]:
lista = [1, 3.5, 'Python', True] #contém diferente tipos de dados
print(lista)

[1, 3.5, 'Python', True]

In [ ]:
frutas = ['banana', 'laranja', 'abacate', 'melancia', 'caju', 'abacaxi']
saldo_alunos = [500.00, 1200.00, 1000.00, 600.00, 5000.00]
num_pacientes = [25, 36, 50, 45, 22, 33, 89, 89]

In [ ]:
print(frutas)

['banana', 'laranja', 'abacate', 'melancia', 'caju', 'abacaxi']

In [ ]:
print(saldo_alunos)

[500.0, 1200.0, 1000.0, 600.0, 5000.0]

In [ ]:
print(num_pacientes) #permite duplicados

[25, 36, 50, 45, 22, 33, 89, 89]

In [ ]:
#calcular tamanho da lista
len(saldo_alunos)

5

In [ ]:
#acessar um item da lista
print(saldo_alunos[2])

1000.0

In [ ]:
#Adicionando itens na lista
frutas.append('morango')
print(frutas)

['banana', 'laranja', 'abacate', 'melancia', 'caju', 'abacaxi', 'morango']

In [ ]:
#unir listas
saldo_alunos.extend(num_pacientes)

In [ ]:
print(saldo_alunos)

[500.0, 1200.0, 1000.0, 600.0, 5000.0, 25, 36, 50, 45, 22, 33, 89, 89]

**Tuplas em Python**

In [ ]:
frutas = ('banana', 'laranja', 'abacate', 'melancia', 'caju', 'abacaxi')
saldo_alunos = (500.00, 1200.00, 1000.00, 600.00, 5000.00)
num_pacientes = (25, 36, 50, 45, 22, 33, 89, 89) #permite duplicados

In [ ]:
#os valores são indexados
print(frutas[1:4])

('laranja', 'abacate', 'melancia')

In [ ]:
#juntar tuplas
tupla_junto = frutas + num_pacientes

In [ ]:
print(tupla_junto)

('banana', 'laranja', 'abacate', 'melancia', 'caju', 'abacaxi', 25, 36, 50, 45, 22, 33, 89, 89)

In [ ]:
print(type(tupla_junto))

<class 'tuple'>

In [ ]:
#contar valores repetidos
num_pacientes_x = (25, 36, 50, 45, 22, 33, 89, 89, 89, 89, 25, 36, 50, 45, 22, 33,
                 25, 36, 50, 45, 22, 33, 25, 36, 50, 45, 22, 33, 25, 36, 50, 45, 22, 33)

In [ ]:
num_pacientes_x.count(45)

5

**Set em Python**

In [ ]:
cidade = {'Belo Horizonte', 'Manaus', 'Fortaleza', 'Natal'}

In [ ]:
#print(type(cidade))
print(cidade)

{'Manaus', 'Fortaleza', 'Belo Horizonte', 'Natal'}

In [ ]:
#não permite valores duplicados
cidade_repete = {'Belo Horizonte', 'Manaus', 'Fortaleza', 'Natal', 'Belo Horizonte', 'Manaus', 'Fortaleza', 'Natal'}

In [ ]:
print(cidade_repete)

{'Manaus', 'Fortaleza', 'Belo Horizonte', 'Natal'}

In [ ]:
#checando valores em set
cidade_x = {'Belo Horizonte', 'Manaus', 'Fortaleza', 'Natal'}

In [ ]:
print('Manaus' in cidade)

True

In [ ]:
#adicionando um item ao set
cidade.add('Rio de Janeiro')

In [ ]:
print(cidade)

{'Belo Horizonte', 'Manaus', 'Fortaleza', 'Natal', 'Rio de Janeiro'}

In [ ]:
#Unindo Sets
cidades_2 = {'Recife', 'Salvador', 'Campo Grande'}

In [ ]:
cidade.update(cidades_2)

In [ ]:
print(cidade)

{'Campo Grande', 'Belo Horizonte', 'Recife', 'Manaus', 'Fortaleza', 'Natal', 'Rio de Janeiro', 'Salvador'}

**Dicionários em Python**

In [ ]:
cod_uf = {
  21:'Maranhão',
  22:'Piauí',
  23:'Ceará',
  24:'Rio Grande do Norte',
  25:'Paraíba',
  26:'Pernambuco',
  27:'Alagoas',
  28:'Sergipe',
  29:'Bahia'
}

In [ ]:
print(type(cod_uf))

<class 'dict'>

In [ ]:
print(cod_uf) #valores ordenados a partir do python 3.7

{21: 'Maranhão', 22: 'Piauí', 23: 'Ceará', 24: 'Rio Grande do Norte', 25: 'Paraíba', 26: 'Pernambuco', 27: 'Alagoas', 28: 'Sergipe', 29: 'Bahia'}

In [ ]:
cod_uf.values()

dict_values(['Maranhão', 'Piauí', 'Ceará', 'Rio Grande do Norte', 'Paraíba', 'Pernambuco', 'Alagoas', 'Sergipe', 'Bahia'])

In [ ]:
#duplicados não permitidos
cod_uf_x = {
  21:'Maranhão',
  22:'Piauí',
  23:'Ceará',
  24:'Rio Grande do Norte',
  25:'Paraíba',
  26:'Pernambuco',
  27:'Alagoas',
  28:'Sergipe',
  29:'Bahia',
  21:'Maranhão',
  22:'Piauí',
  23:'Ceará',
  24:'Rio Grande do Norte',
  25:'Paraíba',
  26:'Pernambuco',
  27:'Alagoas',
  28:'Sergipe'
}

In [ ]:
print(cod_uf_x)

{21: 'Maranhão', 22: 'Piauí', 23: 'Ceará', 24: 'Rio Grande do Norte', 25: 'Paraíba', 26: 'Pernambuco', 27: 'Alagoas', 28: 'Sergipe', 29: 'Bahia'}

In [ ]:
#acessando valores
cod_uf.get(22)

'Piauí'

In [ ]:
cod_uf.keys()

dict_keys([21, 22, 23, 24, 25, 26, 27, 28, 29])

In [ ]:
#Adicionando novos valores
cod_uf[30] = 'Estado Vira-lata Caramelo'

In [ ]:
print(cod_uf)

{21: 'Maranhão', 22: 'Piauí', 23: 'Ceará', 24: 'Rio Grande do Norte', 25: 'Paraíba', 26: 'Pernambuco', 27: 'Alagoas', 28: 'Sergipe', 29: 'Bahia', 30: 'Estado Vira-lata Caramelo'}

**If em Python**

In [ ]:
#criando varias de exemplo
a = 50
b = 100
c = 50

In [ ]:
#IGUAL

if a == c:
  print('A é igual a C')

A é igual a C

In [ ]:
#DIFERENTE

if a != b:
  print('A é diferente de B')

A é diferente de B

In [ ]:
#MENORQ

if a < b:
  print('A é menor que B')

A é menor que B

In [ ]:
#Menor ou igual que

if a <= b:
  print('A é menor ou igual do que B')

A é menor ou igual do que B

In [ ]:
#MaiorQ

if b > c:
  print('B é maior que C')

B é maior que C

**Elif em Python**

In [ ]:
idade = int (input('Digite a sua idade: '))

if idade >= 18:
  print('Você já pode dirigir.')
elif idade < 18:
  print('Você não pode dirigir.')

Digite a sua idade: 19
Você já pode dirigir.

**Loops em Python**

In [ ]:
trabalho = input('Você deve trabalhar hoje? ')
dia = input('O dia está bonito? ')
preguica = input('Você está com preguica? ')

Você deve trabalhar hoje? não
O dia está bonito? sim
Você está com preguica? sim

In [ ]:
# Loop da vida

if trabalho == 'sim':
  print('É uma pena')
elif trabalho == 'não':
  print('Aproveite o dia')

if dia == 'sim' and trabalho == 'não':
  print('Aproveite para caminhar')
elif dia == 'não' and trabalho == 'não':
  print('Aproveite e assista um filme')

if preguica == 'sim' and trabalho == 'não':
  print('Aproveita e dorme mais')
elif preguica == 'não' and trabalho == 'não':
  print('Que tal estudar Python?')

Aproveite o dia
Aproveite para caminhar
Aproveita e dorme mais

**For em Python**

In [ ]:
#FOR
for i in variavel:
  print(i)

In [ ]:
#FOR EM LINHAS
cor = ['verde', 'amarelo', 'azul', 'cinza', 'vermelho']

In [ ]:
for i in cor:
  print(i)

verde
amarelo
azul
cinza
vermelho

In [ ]:
#FOR EM STRINGS
for x in 'pneumoultramicroscopicossilicovulcanoconiótico':
  print(x)

In [ ]:
#FOR E BREAK
numeros = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [ ]:
for i in numeros:
  print(i)

In [ ]:
for x in numeros:
  print(x)
  if x == 7:
    break

**While em Python**

In [ ]:
num = 1

while num < 10:
  print(num)
  num += 1

In [ ]:
#BREAK
num = 1
while num < 10:
  print(num)
  if num == 6:
    break
  num += 1

In [ ]:
#CONTINUE
num = 0

while num < 21:
  num += 1
  if num == 12:
    continue
  print(num)

**Range em Python**

In [ ]:
#range(inicio, termino, salto) - argumentos
#geralmente utilizado com o laço for

for i in range(0,21,2):
  print(i)

**Def em Python**

In [ ]:
def soma(x,y):
  print(x+y)

In [ ]:
soma(2,2)

In [ ]:
def imc(peso, altura):
  imc = peso / (altura ** 2)
  if imc <  18.5:
    print('Magreza')
  elif imc >= 18.5 and imc <= 24.9:
    print('Normal')
  elif imc >= 25.0 and imc <= 29.9:
    print('Sobrepeso')
  elif imc >= 30.0 and imc <= 39.9:
    print('Obesidade I')
  else:
    print('Obesidade II')
  return

In [ ]:
imc(72,1.87)

Normal

**Lambda em Python (funções anônimas)**

In [ ]:
somal = lambda x, y: x + y

In [ ]:
somal(2,2)

**Módulos em Python**

In [ ]:
#import math 
#from math import factorial

In [ ]:
import math

In [ ]:
math.sqrt(9)

3.0

**Pacotes em Python**

In [ ]:
#instalando pacotes no colab
!pip install seaborn

Requirement already satisfied: seaborn in /usr/local/lib/python3.7/dist-packages (0.11.1)
Requirement already satisfied: pandas>=0.23 in /usr/local/lib/python3.7/dist-packages (from seaborn) (1.1.5)
Requirement already satisfied: scipy>=1.0 in /usr/local/lib/python3.7/dist-packages (from seaborn) (1.4.1)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from seaborn) (1.19.5)
Requirement already satisfied: matplotlib>=2.2 in /usr/local/lib/python3.7/dist-packages (from seaborn) (3.2.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=2.2->seaborn) (1.3.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=2.2->seaborn) (2.4.7)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=2.2->seaborn) (2.8.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=2.2->seaborn) (0.10.0)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from cycler>=0.10->matplotlib>=2.2->seaborn) (1.15.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->seaborn) (2018.9)

In [ ]:
!pip install geopandas

Collecting geopandas
  Downloading geopandas-0.9.0-py2.py3-none-any.whl (994 kB)
     |████████████████████████████████| 994 kB 4.9 MB/s
Collecting fiona>=1.8
  Downloading Fiona-1.8.20-cp37-cp37m-manylinux1_x86_64.whl (15.4 MB)
     |████████████████████████████████| 15.4 MB 37 kB/s
Collecting pyproj>=2.2.0
  Downloading pyproj-3.1.0-cp37-cp37m-manylinux2010_x86_64.whl (6.6 MB)
     |████████████████████████████████| 6.6 MB 44.0 MB/s
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.1.5)
Requirement already satisfied: shapely>=1.6 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.7.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (57.2.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (2021.5.30)
Requirement already satisfied: click>=4.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (7.1.2)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (21.2.0)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.15.0)
Collecting click-plugins>=1.0
  Downloading click_plugins-1.1.1-py2.py3-none-any.whl (7.5 kB)
Collecting munch
  Downloading munch-2.5.0-py2.py3-none-any.whl (10 kB)
Collecting cligj>=0.5
  Downloading cligj-0.7.2-py3-none-any.whl (7.1 kB)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->geopandas) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->geopandas) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->geopandas) (2.8.1)
Installing collected packages: munch, cligj, click-plugins, pyproj, fiona, geopandas
Successfully installed click-plugins-1.1.1 cligj-0.7.2 fiona-1.8.20 geopandas-0.9.0 munch-2.5.0 pyproj-3.1.0

In [ ]:
!pip install --upgrade seaborn

Requirement already satisfied: seaborn in /usr/local/lib/python3.7/dist-packages (0.11.1)
Requirement already satisfied: matplotlib>=2.2 in /usr/local/lib/python3.7/dist-packages (from seaborn) (3.2.2)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from seaborn) (1.19.5)
Requirement already satisfied: scipy>=1.0 in /usr/local/lib/python3.7/dist-packages (from seaborn) (1.4.1)
Requirement already satisfied: pandas>=0.23 in /usr/local/lib/python3.7/dist-packages (from seaborn) (1.1.5)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=2.2->seaborn) (2.4.7)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=2.2->seaborn) (2.8.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=2.2->seaborn) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=2.2->seaborn) (1.3.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from cycler>=0.10->matplotlib>=2.2->seaborn) (1.15.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->seaborn) (2018.9)

In [ ]:
#!pip install seaborn==0.9.0 / instalar outras versoes

In [ ]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [ ]:
#importando pacotes em python
import pandas as pd
import numpy as np

In [ ]:
pd.read_csv('')

In [ ]:
np.T